<div class="container">
    <form class="terminal-form">
        <input type="text" class="terminal-input">
    </form>

    <div class="terminal">
        <p class="prompt-simple">@ViewData["Welcome"]<br /><br /></p>
        <p class="prompt output new-output"></p>
    </div>
</div>